<head>
    <title>Gameplay</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/game-board.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<div class="row">
    <div class="col-md-6">
        <div id="playerColor">
            You play as {{playerColor}}
        </div>
        <button id="autoplay" class="center-block" ng-click="startAutoplay()">AutoPlay</button>
        <div id="buttons" class="center">
            <p>Select a direction by clicking on the coordinate button:</p>
            <button id="up-left" ng-click="setDirection(-1, -1)">&#x2191;</button>
            <button id="up" ng-click="setDirection(0, -1)">&#x2191;</button>
            <button id="up-right" ng-click="setDirection(1, 0)">&#x2191;</button>
            <button id="down-left" ng-click="setDirection(-1, 0)">&#x2191;</button>
            <button id="down" ng-click="setDirection(0, 1)">&#x2191;</button>
            <button id="down-right" ng-click="setDirection(1, 1)">&#x2191;</button>
        </div>
        <div id="loseBall" class="pull-right">
            Balls to lose: {{ballToLose}}
        </div>
        <div id="winBall" class="pull-left">
            Balls to win: {{ballToWin}}
        </div>
        <canvas id="canvas" width="920" height="920" class="center-block"></canvas>
        <button id="autoMove" ng-click="makeAutoMove()">AutoMove</button>
        <div id="playerColor" class="pull-left" style="font-size: 30px">
            Possible movements: {{possibleMoves}}
        </div>
    </div>

    <div class="col-md-6">
        <div class="center" style="overflow: scroll;height:800px;width:700px;">
            <h2 class="lead">History of moves in the game</h2>
            <table style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;"
                   onmouseleave="onHistoryLeave()" class="table table-hover table-striped table-condensed"
                   ng-show="movesInGame.length">
                <thead>
                <td>Player</td>
                <td>Ball</td>
                <td>Fields</td>
                <td>Direction</td>
                <td>Move created</td>
                </thead>
                <tbody>
                <tr onmouseenter={showInfo(event)} onmouseleave="hideInfo()" ng-repeat="movement in movesInGame">
                    <td>
                        <span ng-if="!movement.playerName">
                            BOT
                        </span>
                        <span ng-if="movement.playerName != ''">
                            {{movement.playerName}}
                        </span>
                    </td>
                    <td><img src="assets/ball-{{movement.playerColor}}.svg" alt="Description of the image"
                             width="25" height="25"></td>
                    <td>{{getFieldsCords(movement.fields)}}</td>
                    <td>{{getDirectionArrow(movement.direction)}}</td>
                    <td>{{movement.created | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>

            <div ng-show="!movesInGame.length">
                No moves yet.
            </div>
        </div>
    </div>
</div>
