.center {
    width: 20em;
    height: 3em;
    display: block;
    justify-content: center;
    align-items: center;
    background: unset;
    text-align: center;
}

button {
    font-size: 24px;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#buttons {
    height: 100px;
    width: 300px;
}

#down {
    transform: rotate(180deg);

}

#up-left {
    transform: rotate(-45deg);
}

#up-right {
    transform: rotate(45deg);
}

#down-left {
    transform: rotate(-135deg);
}

#down-right {
    transform: rotate(135deg);
}

#winBall {
    position: relative;
    top: 100px;
    color: #000000;
    font-size: 36px;
    background: #33CCCC; /* Fallback */
    animation: colorGreen 9s infinite linear;
    text-align: center;
    padding: 0.5em;
}

#loseBall {
    position: relative;
    top: 100px;
    color: #000000;
    font-size: 36px;
    background: #33CCCC; /* Fallback */
    animation: colorRed 9s infinite linear;
    text-align: center;
    padding: 0.5em;
}

#playerColor {
    font-family: 'Rocher', serif;
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-palette: --Mint;
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
}

@keyframes colorGreen {
    0% {
        background: #33CCCC;
    }
    20% {
        background: #33CC36;
    }
    40% {
        background: #B8CC33;
    }
    60% {
        background: #FCCA00;
    }
    80% {
        background: #33CC36;
    }
    100% {
        background: #33CCCC;
    }
}

@keyframes colorRed {
    0% {
        background: #33CCCC;
    }
    20% {
        background: #d51174;
    }
    40% {
        background: #ce1121;
    }
    60% {
        background: #ff0000;
    }
    80% {
        background: #941248;
    }
    100% {
        background: #33CCCC;
    }
}

